@page "/parampage"

<h3>ParamPage</h3>
<br />
<h3>Int Param: @IntParam</h3>
<br />
<h3>String Param: @StringParam</h3>
<br />
<h3>Bool Param: @BoolParam</h3>
<br />
<h3>Array Param: @ArrayParam</h3>
<br />
<h3>Whole Array:</h3>

@if(WholeArray is not null)
{
    @foreach(var item in WholeArray)
    {
        <p>@item</p>
    }
}

@code {
    [Parameter, SupplyParameterFromQuery]
    public int IntParam { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public string? StringParam { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public bool BoolParam { get; set; }
    
    [Parameter, SupplyParameterFromQuery]
    public string? ArrayParam { get; set; }
    
    [Parameter, SupplyParameterFromQuery(Name = "item")]
    public string[]? WholeArray { get; set; }
}
